<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOGS" value="./logs" />
	
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>
    
    <appender name="RFAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>${LOGS}/spring-boot-logger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        	<fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        	<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        		<maxFileSize>10MB</maxFileSize>
        	</timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <!-- warning -->
    
    <appender name="WarnRFAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>${LOGS}/warn-spring-boot-logger.log</file>
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
    	<level>WARN</level>
    	</filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        	<fileNamePattern>${LOGS}/archived/warn-spring-boot-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        	<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        		<maxFileSize>10MB</maxFileSize>
        	</timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <root level="info">
        <appender-ref ref="console" />
    </root>
    <logger name="com.bookStore.bookstore" level="trace" addictivity="false">
    	<appnender-ref ref="RfAppender"/>
    	<appnender-ref ref="console"/>
    	<appnender-ref ref="WarnRfAppender"/>
    </logger>
</configuration>